<div class="content-container">

    <div class="maincontent-container">
        <h1>Post content</h1>
        <div class="mainpost-container"></div>
        <div class="maincomment-container">
            <div class="newcomment-container">
                <form class="form-horizontal" action="/api/postComment" method="POST">
                    <input class="comment-input"type="text" placeholder="Enter your thoughts" name="text">
                    <input type="hidden" name="postId" value={{postId}} />
                    <input type="submit" value="Comment">
                </form>
            </div>
        </div>

    </div>


    {{> sidebar }}

</div>
<div class="loader">
    <p id="loading">
        <img src="/img/loading.gif" alt="Loading…" />
    </p>
</div>