<div class="content-container">

    <div class="maincontent-container">
        <h1>Post content</h1>
        {{post}}
    </div>

    {{> sidebar }}

</div>
<div class="loader">
    <p id="loading">
        <img src="img/loading.gif" alt="Loading…" />
    </p>
</div>