.content-container {
    width: 90%;
    margin: 0 55px 0 55px;
    flex: 1;
    display: flex;
    margin-top:45px;
}

.maincontent-container {
    width: 67%;
    padding-right: 55px;
    flex: 2;
}

.maincontent-post {
    margin-left:10%;
}

.post-heading {
    color: inherit;
}

.newcomment-container{
    margin-left:1%;
}
.comment-input{
    width:35%;
}

.post-heading a {
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
    background: none;
}

.post-heading a:hover {
    color: blue;
    text-decoration: none;
}

.maincontent-post-details{
    display:inline-block;
}

.post-vote{
    float:left;
    margin-left:5px;
    margin-right:5px;
}

.vote-count{
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
}
.post-vote-do-up {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('../img/upvote.png');
  background-position: 0 -25px;
} 
.post-vote-do-down {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('../img/downvote.png');
  background-position: 0 -61px;
} 

.post-vote-do-up.on {
  background-position: 0 2px;
}
.post-vote-do-down.on{
    background-position: 0 -33px;
}
.maincontent-post-media {
    height: 250px;
}

.sidebar-container {
    width: 32%;
    flex: 1;
}

@media screen and (min-width:600px){
    .menu-list{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 31%;
            margin: 10px 1%;
        }

    }
}